<html>
    <head>
        <title>Inventory Mangement System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="stylesheet" href="../static/home.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg" style="background-color: #7FB77E;height: 100px;">
      
            <div class="container">
              <a class="navbar-brand" href="#" >Inventory Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
    
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                      </li>
                 <li class="nav-item dropdown">
                  <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">PRODUCT</a>
                   <ul class="dropdown-menu">
                   <li><a class="dropdown-item" href="/product_add"> ADD</a></li>
                   <li><a class="dropdown-item" href="/product_update_view"> EDIT </a></li>
                   <li><a class="dropdown-item" href="/product_delete_view"> DELETE </a></li>
                   <li><a class="dropdown-item" href="/product_add_data_view">VIEW</a></li>
                   </ul>
               </li>
               <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">  LOCATION </a>
                 <ul class="dropdown-menu">
                 <li><a class="dropdown-item" href="/location_page"> ADD</a></li>
                 <li><a class="dropdown-item" href="/location_add_update"> EDIT </a></li>
                 <li><a class="dropdown-item" href="/location_add_delete_query"> DELETE </a></li>
                 <li><a class="dropdown-item" href="/location_data_view">VIEW</a></li>
                 </ul>
             </li>
             <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">  PRODUCT MOVEMENT  </a>
               <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="/productmove">ADD</a></li>
               <li><a class="dropdown-item" href="/productmove_update_query"> EDIT </a></li>
               <li><a class="dropdown-item" href="productmove_delete_query"> DELETE </a></li>
               <li><a class="dropdown-item" href="/productmove_data_view">VIEW</a></li>
               </ul>
           </li>
           <li class="nav-item">
            <a href="/report" class="nav-link">REPORT</a>
           </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>