<html>
    <head>
        <title>location Add</title>
        <link rel="stylesheet" href="../static/product_style.css">
    </head>
    <body>
        <h1>LOCATION ADD</h1>
        <div > </div>
        <form action="/location_page" method="post">
            <label style="margin-left: 23px;">LOCATION NAME</label>
            <input type="text" name="location_id" id=""><br>
            
            <label for=""style="margin-left: 30px;">LOCATION DESC</label>
            <input type="text" name="location_desc" id=""><br>
            
            <input type="submit" name="" id="" value="LOCATION ADD"><br>

            <a href="{{url_for('home_page')}}">
                <button type="button" value="BACk" class="btn1"> BACK TO HOME </button>
            </a><br>
        </form>
    </body>
</html>