<html>
    <head>
        <title>Product Add</title>
        <link rel="stylesheet" href="../static/product_style.css">
    </head>
    <body>
        <h1>LOCATION UPDATE</h1>
        <form action="" method="post">
            <label style="margin-left: 25px;">LOCATION NAME</label>
            <input type="text" name="location_id" id="" value="{{datas.location_id}}"><br>

            <label style="margin-left: 30px;">LOCATION DESC</label>
            <input type="text" name="location_desc" id="" value="{{datas.location_desc}}"><br>

            <input type="submit" name="" id="" value="UPDATE"><br>
        </form>
    </body>
</html>