<html>
    <head>
        <title>Product Add</title>
        <link rel="stylesheet" href="../static/product_style.css">
    </head>
    <body>
        <h1>LOCATION UPDATE</h1>
        <form action="" method="post">

            <label style="margin-left: 25px;">MOVEMENT ID</label>
            <input type="text" name="movement_id" id="" value="{{datas.movement_id}}"><br>

            <label style="margin-left: 25px;">PRODUCT NAME</label>
            <input type="text" name="product_id" id="" value="{{datas.product_id}}"><br>

            <label style="margin-left: 30px;">DATE AND TIME</label>
            <input type="text" name="date_time" id="" value="{{datas.date_time}}"><br>

            <label for="">FROM LOCATION</label>
            <input type="text" name="from_location" id="" value="{{datas.from_location}}"><br>

            <label for="">TO LOCATION</label>
            <input type="text" name="to_location" id="" value="{{datas.to_location}}">

            <label for="">QTY</label>
            <input type="number" name="qty" id="" value="{{datas.qty}}"><br>

            <input type="submit" name="" id="" value="UPDATE"></a><br>
        </form>
    </body>
</html>