<html>
    <head>
        <title>View</title>
        <link rel="stylesheet" href="../static/product_dataview.css">
    </head>
    <body>
        <h3>All Available Products</h3>
        <table>
            <tr>
                <th>PRODUCT NAME</th>
                <th>PRODUCT DESCRIPTION</th>
            </tr>
            {% for data in datas %}
            <tr>
                <td>{{data.product_id}}</td>
                <td>{{data.product_desc}}</td>
            </tr>
            {% endfor %}
        </table>
        
        <a href="{{url_for('home_page')}}">
            <button type="button" value="BACk" class="btn1"> BACK </button>
        </a><br>
    </body>
</html>