<html>
    <head>
        <title>PRODUCT MOVEMENT UPDATE</title>
        <link rel="stylesheet" href="../static/product_style.css">
    </head>
    <body>
        <h1>PRODUCT MOVEMENT UPDATE</h1>
        <form action="" method="post">
            <label for="">PRODUCT NAME</label>
            <input type="text" name="product_id" id="" value="{{datas.product_id}}"><br>

            <label for="">DATE AND TIME</label>
            <input type="date" name="date_time" id="" value="{{datas.date_time}}"><br>

            <label for="">FROM LOCATION</label>
            <input type="text" name="from_location" id="" value="{{datas.from_location}}"><br>

            <label for="">TO LOCATION</label>
            <input type="text" name="to_location" id="" value="{{datas.to_location}}"><br>

            <label for="">QUANTITY</label>
            <input type="number" name="qty" id="" value="{{datas.qty}}"><br>

            <input type="submit" name="" id="" value="UPDATE">
        </form>
    </body>
</html>