<html>
    <head>
        <title>Product Add</title>
        <link rel="stylesheet" href="../static/product_style.css">
    </head>
    <body>
        <h1>PRODUCT UPDATE</h1>
        <form action="" method="post">
            <label style="margin-left: 25px;">PRODUCT NAME</label>
            <input type="text" name="product_id" id="" value="{{datas.product_id}}"><br>

            <label style="margin-left: 30px;">PRODUCT DESC</label>
            <input type="text" name="product_desc" id="" value="{{datas.product_desc}}"><br>

            <input type="submit" name="" id="" value="UPDATE"><br>
        </form>
        <h4>
           {% with msg = get_flashed_messages() %}
                {%if msg %}
                    {% for message in msg %}
                        {{message}}
                    {% endfor %}
                {% endif %}
            {% endwith %}    
        </h4>
    </body>
</html>