<html>
    <head>
        <title>View</title>
        <link rel="stylesheet" href="../static/productmove_dataview.css">
    </head>
    <body>
        <table>
            <tr>
                <th>PRODUCT NAME</th>
                <th>DATA AND TIME</th>
                <th>FROM LOCATION</th>
                <th>TO LOCATION</th>
                <th>QUANTITY</th>
                <th>PRODUCT MOVE UPDATE</th>
            </tr>
            {% for data in datas %}
            <tr>
                <td>{{data.product_id}}</td>
                <td>{{data.date_time}}</td>
                <td>{{data.from_location}}</td>
                <td>{{data.to_location}}</td>
                <td>{{data.qty}}</td>
                <td><a href="{{url_for('product_move_delete',movement_id = data.movement_id)}}" style="background: #1D1CE5;text-decoration: none;padding: 10px 20px;margin: 16px 25px;color: white;border-radius: 10px;">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <h4>
                {% with messages = get_flashed_messages() %}  
                {% if messages %}  
                    {% for message in messages %}  
                            <h4>{{ message }}</h4>  
                    {% endfor %}  
                {% endif %}  
            {% endwith %} 
            
            {% if error %}
                <strong>Error</strong>:{{error}}
            {% endif %}
        </h4>
        <a href="{{url_for('home_page')}}">
            <button type="button" value="BACk" class="btn1"> BACK TO HOME </button>
        </a><br>
    </body>
</html>