<html>
    <head>
        <title>Product Movement</title>
        <link rel="stylesheet" href="../static/product_move.css">
    </head>
    <body>
        <h1>PRODUCT MOVEMENT</h1>
        <form action="/productmove" method="post">
            <label style="margin-left: -10px;">PRODUCT NAME</label>
            <input type="text" name="product_id" id="product_id"><br>

            <label for="" style="margin-left: 124px;">DATE</label>
            <input type="date" name="date" id=""><br>

            <label for=""style="margin-left: -15px;">FROM LOCATION</label>
            <input type="text" name="from_location" id=""><br>

            <label for=""style="margin-left: 23px;">TO LOCATION</label>
            <input type="text" name="to_location" id=""><br>

            <!-- <label for="">MOVEMENT ID</label>
            <input type="text" name="move_id" id=""><br> -->

            <label for=""style="margin-left: 59px;">QUANTITY</label>
            <input type="number" name="qty" id=""><br>

            <input type="submit" name="" id="" value="ADD"><br>
            
            <a href="{{url_for('home_page')}}">
                <button type="button" value="BACk" class="btn1"> BACK To HOME </button>
            </a><br>
        </form>
    </body>
</html>