<html>
    <head>
        <title>Product Add</title>
        <link rel="stylesheet" href="../static/product_style.css">
        <script>
            function validateForm() {
              let prod_id = document.forms["productForm"]["product_id"].value;
              let prod_desc = document.forms["productForm"]["product_desc"].value;
              if (prod_id == "" || prod_desc=="") {
                alert("Product Id and description cannot be empty.");
                return false;
              }
            }
            </script>
    </head>
    <body>
        <h1>PRODUCT ADD</h1>
        <form name="productForm" action="/product_add" onsubmit="return validateForm()" method="post">
            <label style="margin-left: 25px;">PRODUCT NAME</label>
            <input type="text" name="product_id" id="" ><br>

            <label style="margin-left: 30px;">PRODUCT DESC</label>
            <input type="text" name="product_desc" id=""><br>

            <input type="submit" name="" id="" value="ADD"></a><br>
            
            <a href="{{url_for('home_page')}}">
            <button type="button" value="BACk" class="btn1"> BACK TO HOME </button>
            </a><br>
        </form>
        {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <h4>{{ message }}</h4>  
               {% endfor %}  
         {% endif %}  
      {% endwith %} 
      
      {% if error %}
        <h4><strong>Error</strong>:{{error}}</h4>
    {% endif %}
    </body>
</html>