<html>
    <head>
        <title>Reports</title>
        <link rel="stylesheet" href="../static/report.css">
    </head>
    <body>
        <h1>PRODUCT SUMMARY</h1>
        <table>
            <tr>
                <th>PRODUCT NAME</th>
                <th>WAREHOUSE</th>
                
                <th>QUANTITY</th>
            </tr>
            {% for data in datas %}
            <tr>
                <td>{{data.product_id}}</td>
                <td>{{data.location}}</td>
                <td>{{data.qty}}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{url_for('home_page')}}">
            <button type="button" value="BACk" class="btn1"> BACK </button>
        </a><br>
    </body>
</html>